---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span
  class:list={["bg-secondary text-secondary-foreground rounded-full px-3 py-1 text-xs", className]}
>
  <slot />
</span>
