---
import Section from "@/components/Section.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import ExperienceItem from "@/components/ExperienceItem.astro";
import FadeIn from "@/components/animations/FadeIn";
import { experiences } from "@/data/experience";
---

<Section>
  <SectionLabel number="02" label="Experience" />

  <div class="space-y-24">
    {experiences.map((exp, index) => (
      <FadeIn client:visible delay={index * 0.15}>
        <ExperienceItem experience={exp} />
      </FadeIn>
    ))}
  </div>
</Section>
